<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.mangareaderd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Eliminar"
            android:label="@string/title_activity_eliminar"
            android:parentActivityName=".Opcoes"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.Opcoes" />
        </activity>
        <activity
            android:name=".Opcoes"
            android:label="@string/title_activity_opcoes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.MainActivity" />
        </activity>
        <activity
            android:name=".ProcuraLivros"
            android:label="@string/title_activity_procura_livros"
            android:parentActivityName=".LivrosManga"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.LivrosManga" />
        </activity>
        <activity
            android:name=".Adicionar"
            android:label="@string/title_activity_adicionar"
            android:parentActivityName=".LivrosManga"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.LivrosManga" />
        </activity>
        <activity
            android:name=".DestaquesProcura"
            android:label="@string/title_activity_destaques_procura"
            android:parentActivityName=".Destaques"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.Destaques" />
        </activity>
        <activity
            android:name=".LivrosManga"
            android:label="@string/title_activity_livros_manga"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.MainActivity" />
        </activity>
        <activity
            android:name=".Favoritos"
            android:label="@string/title_activity_favoritos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.MainActivity" />
        </activity>
        <activity
            android:name=".Destaques"
            android:label="@string/title_activity_destaques"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.mangareaderd.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>